<!DOCTYPE html>
<html>
  <head>
    <title>project3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="border: 1px solid black">
    <h1 style="text-align: center"><%=link_to "PROJECT 3", '/' %></h1>
    <% if cookies[:user] != '' %>
    <table>
    <tr>
    <td><%= button_to 'LOGOUT', '/logout'%></td>
    <td><%= link_to 'SHOW CARD DECKS ', '/deck/show/'+cookies[:user]["id"] %></td>
    <td><%= link_to 'CREATE CARD DECKS', '/deck/create_deck/'%></td>
    
    </tr>
    </table>
    <%end %>
    </div >
    <%#= link_to 'CREATE CARDS ','/card/makeCard'%>
    <%= yield %>
  </body>
</html>

<script>
</script>